{% extends "bones/base.html" %}
{% load static %}

{% block title %}{{ page_title }} • Bones{% endblock %}

{% block head_extra %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css">
{% endblock %}

{% block main %}
    {% include "bones/partials/list_page.html" %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha384-1H217gwSVyLSIfaLxHbE7dRb3v4mYCKbpQvzx0cegeju1MVsGrX5xXxAvs/HgeFs" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" integrity="sha384-d3UHjPdzJkZuk5H3qKYMLRyWLAQBJbby2yr2Q58hXXtAGF8RSNO9jpLDlKKPv5v3" crossorigin="anonymous"></script>
    <script src="{% static 'bones/js/note_filters.js' %}"></script>
{% endblock %}
